<div class="col-md-12">
    <h4 class="mt-4">{{title}}</h4>
    
    <div class="alert alert-success" *ngIf="status=='success'">
        El registro se ha completado correctamente <a [routerLink]="['login']">Identificate aquí</a>
    </div>

    <div class="alert alert-danger" *ngIf="status=='error'">
        El registro no se ha completado correctamente
    </div>

    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)" class="col-md-5">
        <p>
            <label for="name">Nombre</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="user.name" class="form-control" required />
            <span *ngIf="!name.valid && name.touched">El campo nombre es obligatorio</span>
        </p>
        <p>
            <label for="surname">Apellidos</label>
            <input type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" class="form-control" required />
            <span *ngIf="!surname.valid && surname.touched">El campo apellidos es obligatorio</span>
        </p>
        <p>
            <label for="email">Email</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control" required />
            <span *ngIf="!email.valid && email.touched">El campo email es obligatorio</span>
        </p>
        <p>
            <label for="password">Contraseña</label>
            <input type="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control" required />
            <span *ngIf="!password.valid && password.touched">El campo contraseña es obligatorio</span>
        </p>
        <input type="submit" value="Registrarme" class="btn btn-success float-right" [disabled]="!registerForm.form.valid" />
    </form>
</div>