<!-- CABECERA -->
<header id="header">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['home']">CONCESIONARIO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="navbar-item"><a class="nav-link" [routerLink]="['home']">Inicio</a></li>
        <li class="navbar-item" *ngIf="identity"><a class="nav-link" [routerLink]="['crear-coche']">Crear coche</a></li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0" *ngIf="!identity">
        <li class="navbar-item"><a class="nav-link" [routerLink]="['login']">Login</a></li>
        <li class="navbar-item"><a class="nav-link" [routerLink]="['registro']">Registro</a></li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0" *ngIf="identity">
        <li class="navbar-item"><a class="nav-link">{{identity.name + ' ' + identity.surname}}</a></li>
        <li class="navbar-item"><a class="nav-link" [routerLink]="['/logout', 1]">Salir</a></li>
      </ul>
    </div>
  </div>
</header>

<!-- CONTENIDO -->
<div class="container">
  <router-outlet></router-outlet>
</div>